<nb-layout>
    <nb-layout-column>
        <div class="contenido-login mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <nb-card>
                        <nb-card-header class="logo-login text-center">
                            <img src="assets/images/logo.jpg" alt="logo" style="width: 50%">
                        </nb-card-header>
                        <nb-card-body>
                            <form class="container" [formGroup]="inicioSesionForm" (ngSubmit)="iniciarSesion()" novalidate autocomplete="off">
                                <div class="form-group">
                                    <label for="inputUsuario" class="label">Usuario</label>
                                    <input type="text" nbInput fullWidth id="inputUsuario" placeholder="Escriba su usuario" formControlName="usuario">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1" class="label">Contraseña</label>
                                    <input type="password" nbInput fullWidth id="inputPassword1" placeholder="Escriba su contraseña" formControlName="contrasena">
                                </div>
                                <nb-alert status="danger" *ngIf="mostrarAlerta && inicioSesionForm.pristine" class="text-center mt-5 animated bounce faster">
                                    {{respuesta.mensaje}}
                                </nb-alert>
                                <button type="submit" nbButton shape="round" class="btn btn-block mt-4 mb-4" [disabled]="inicioSesionForm.invalid">
                                        Iniciar Sesión
                                </button>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>