<router-outlet></router-outlet>

<div>
  <h3>Formulario Registro de Check In</h3>

  <form [formGroup]="inputFormCrear" (ngSubmit)="onCrearCheckIn()">

    <div>
      <nb-card>
        <nb-card-body class="example-items-rows">

          <table>
            <tr>
              <th>Alta Prioridad</th>
              <td><input id="esAltaPrioridad_txt" class="form-control" formControlName="esAltaPrioridad_txt"
                  type="number" nbInput placeholder="0" min="0" max="1" required></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </table>
          <br>
          <div>
            <h5>Equipaje</h5>
            <table>
              <tr>
                <th>Descripcion:</th>
                <td><input id="descripcion_txt" class="form-control" formControlName="descripcion_txt" type="text"
                    nbInput placeholder="Maleta" required></td>
              </tr>
              <tr>
                <th>Peso:</th>
                <td><input id="peso_txt" class="form-control" formControlName="peso_txt" type="number" nbInput
                    placeholder="0" min="1" max="99" required></td>
              </tr>
              <tr>
                <th>Es Fragil:</th>
                <td><input id="esFragil_txt" class="form-control" formControlName="esFragil" type="number" nbInput
                    placeholder="0" min="0" max="1" required></td>
              </tr>
              <tr>
                <th></th>
                <td class="text-center">
                  <button nbButton status="primary" id="botonaddequipaje" class="button" type="button" style="width: 100%;"
                    (click)="addEquipajeTemp()">Agregar</button>
                </td>
              </tr>
            </table>
            <br>

            <table id="miTabla" class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>descripcion</th>
                  <th>peso</th>
                  <th>esFragil</th>
                </tr>
              </thead>
              <tbody id="tbodyDatos">
                <tr *ngFor="let item of this.checkin_nuevo.detalleEquipaje">
                  <td>{{item.descripcion}}</td>
                  <td>{{item.peso}}</td>
                  <td>{{item.esFragil}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="reserva.id">
      <label>
        Id_Reserva: {{reserva.id}} , NroReserva: {{reserva.nroReserva}}
      </label>
    </div>

    <div class="text-center">
      <button nbButton status="primary" id="botoncrearreserva" class="button" type="submit">Registrar Check In</button>
    </div>

  </form>

</div>