<div class="header-container">
  <div class="logo-container">
      <div class="button-sidebar vertical-center">
          <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
              <nb-icon icon="menu-2-outline"></nb-icon>
          </a>
      </div>

      <!-- <a class="logo" href="" (click)="navigateHome()">ngx-<span>admin</span></a> -->
      <div class="contenido-logo vertical-center">       
          <img class="logoimg" src="assets/images/logo.jpg" alt="">
      </div>

  </div>

</div>
<!-- <pre>Data Obtained is: {{ datosUsuario | json }}</pre> -->
<div class="header-container">
  <nb-actions size="small">
      <nb-action class="control-item" icon="email-outline" (click)="abrirModal(dialog,'Contacto')"></nb-action>
      <nb-action class="control-item" icon="info-outline" (click)="abrirModal(dialog,'Acerca de')"></nb-action>
      <nb-action class="user-action" >
        <!-- *nbIsGranted="['view', 'user']"> -->

          <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="(datosUsuario?.FullName)" >
          </nb-user>
      </nb-action>
  </nb-actions>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
      <nb-card-header>{{tituloModal}}</nb-card-header>
      <nb-card-body [innerHTML]="data"></nb-card-body>
      <nb-card-footer class="text-right">
          <button nbButton (click)="ref.close()">Cerrar</button>
      </nb-card-footer>
  </nb-card>
</ng-template>

