<!-- <router-outlet></router-outlet> -->

<h2>Listado Reservas Sin Check In </h2>

<!-- <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">

  <div>
    <nb-card>
      <nb-card-body class="example-items-rows">
        <input id="origen" formControlName="origen" type="text" nbInput placeholder="Origen">
        <input id="destino" formControlName="destino" type="text" nbInput placeholder="Destino">
      </nb-card-body>
    </nb-card>

  </div>

  <button nbButton status="primary" class="button" type="submit" id="botonBuscar">Buscar</button>

</form> -->

<label *ngIf="reservaSeleccionado.id">Reserva seleccionado: {{reservaSeleccionado.id}} </label>


<table id="miTabla" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>id</th>
      <th>nroReserva</th>
      <th>hora</th>
      <th>vueloId</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbodyDatos">
    <tr *ngFor="let item of reservas | async ">
      <td>{{item.id}}</td>
      <td>{{item.nroReserva}}</td>
      <td>{{item.hora | date:'short'}}</td>
      <td>{{item.vueloId}}</td>
      <td class="text-center"><button nbButton status="primary" id="tablabotonseleccionar"
          (click)="onSeleccionar(item)">Seleccionar</button></td>
    </tr>
  </tbody>
</table>